body {
    height: 100%;
    width: 100%;
    position: absolute;
}
sup {
    color: #afafaf;
    display: block;
    vertical-align: text-top;
}
.fill-height {
    height: 100%
}
.nav-not-active {
   pointer-events: none;
   cursor: default;
}
.container-fluid {
    height: inherit;
}
#background-index {
    text-align: center;
    background: url(/assets/images/main-bg.jpg) no-repeat center;
    background-size: cover;
}
#background-sidebar {
    background: url(/assets/images/sidebar-bg.jpg) no-repeat center;
    background-size: cover;
}
#background-sidebar h2,
.profile-content {
    color: #c0c0c0;
}
#background-sidebar .sidebar-nav {
    margin-top: 5%;
    margin-bottom: 10%;
}
.profile-content {
    padding-top: 10%;
    padding-bottom: 10%;
}
.profile-content img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.menu {
    margin-top: 40px;
    font-size: 14px;
}
.menu a {
    margin-left: 12px;
    margin-right: 12px;
    border-bottom: 1px solid #c0c0c0;
}
.menu a:hover {
    border-bottom: 1px solid #eee;
}
.footer {
    margin-top: 20px;
}
.footer-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
}

.menu a,
.sidebar-nav a,
.footer-text a {
    color: #b0b0b0;
}
.menu a:hover,
.sidebar-nav a:hover,
.footer-text a:hover {
    text-decoration: none;
    color: #fff;
}
.sidebar-nav .nav-not-active {
    color: #fff;
}

.footer-text i {
    margin-right: 5px;
}
.animate-drop-init {
    position: relative;
    top: -10px;
    opacity: 0;
}
.animate-show-init {
    opacity: 0;
}

.project-group h4 {
    display: inline-block;
    border-bottom: 1px solid #FFF;
}
.project-group h4:hover {
    text-decoration: underline;
    cursor: pointer;
}
.project-section {
    margin-bottom: 16px;
}
.project-section p,
.experience-item p {
    margin-bottom: 0;
}
.project-media {
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 10px;
}
.media-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.media-container iframe,
.media-container object,
.media-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.project-group,
.experience-section {
    margin-top: 40px;
}
.experience-item {
    margin-top: 20px;
}

.title {
    margin-bottom: 0;
}
.title a,
/*.title a:hover,*/
.title a:visited,
.experience-section h3,
.tags-expo-section,
.project-group h4,
.post-list-title,
.post-list-title:visited {
    color: #7f7f7f;
}
.post-title,
.tags-expo-section h3,
.title a:hover,
.project-group h4:hover,
.post-list-title:hover {
    color: #444444;
}
.title a:hover,
.project-group h4:hover,
.post-list-title:hover {
    text-decoration:none;
}
.post-tag {
    display: inline-block;
    background: rgba(106,106,106,0.15);
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 95%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.post-tag,
.post-tag:visited {
    color: #515151;
}
.post-tag:hover {
    text-decoration: none;
    background: #c0c0c0;
    color: #fff;
}
.post-tag:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}
.tags-expo .tags-expo-section ul {
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
}
.post-title {
    font-size: 36px;
}
.post-list-title {
    margin-top: 1.5rem;
    margin-right: 1.0rem;
    font-size: 1.0rem;
    letter-spacing: -1px;
    line-height: 1;
}

/* exclude no-expansion from changing text */
.no-expansion h4:hover {
    color: #7f7f7f;
    cursor: auto;
}

/* Handle responsiveness */

.video-container {
    margin: 0 auto;
    max-width: 560px;
}

.video-wrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {

    #background-sidebar img {
        margin: 0 auto;
    }
    #background-sidebar .profile-content {
        padding-top: 0%;
        padding-bottom: 0%;
        margin-top: 10%;
    }
    #background-sidebar .sidebar-nav {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
}
@media screen and (max-width: 425px) {

    .mobile-hide {
        display: none;
    }
    .profile-content h2 {
        font-size: 36px;
    }
    .profile-content .profile-summary {
        margin-top: 30px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .menu {
        font-size: 18px;
    }
}
