body {
    height: 100%;
    width: 100%;
    position: absolute;
}
sup {
    color: #afafaf;
    display: block;
    vertical-align: text-top;
}
.fill-height {
    height: 100%
}
.not-active {
   pointer-events: none;
   cursor: default;
}
.container-fluid {
    height: inherit;
}
#intro-main {
    text-align: center;
    background: url(/assets/images/main-bg.jpg) no-repeat center;
    background-size: cover;
}
#intro-sidebar {
    background: url(/assets/images/sidebar-bg.jpg) no-repeat center;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    #intro-sidebar img {
        margin: 0 auto;
    }
}
#intro-sidebar h2 {
    color: #cfcfcf;
}
#intro-sidebar .sidebar-nav {
    margin-top: 30px;
}
.intro-content {
    color: #cfcfcf;
    padding-top: 10%;
    padding-bottom: 10%;
}
.intro-content img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.summary {
    margin-top: 20px;
}
.menu {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}
.menu a {
    color: #cfcfcf;
    margin-left: 12px;
    margin-right: 12px;
    border-bottom: 1px solid #cfcfcf;
}
.menu a:hover {
    text-decoration: none;
    color: #eee;
    border-bottom: 1px solid #eee;
}
.footer {
    margin-top: 20px;
}
.footer-text {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.footer-text a {
    color: #cfcfcf;
}
.footer-text a:hover {
    text-decoration: none;
    color: #eee;
}
.footer-text i {
    margin-right: 5px;
}
.animate-drop-init {
    position: relative;
    top: -10px;
    opacity: 0;
}
.animate-show-init {
    opacity: 0;
}

.experience-section {
    margin-top: 40px;
}
.experience-item {
    margin-top: 20px;
}
.experience-item p {
    margin: 0;
}

.title {
    margin-bottom: 0;
}
.title a:visited {
    color: #000;
}
