#intro-sidebar {
    background: url(/assets/images/sidebar-bg.jpg) no-repeat center;
    background-size: cover;
}
.intro-content {
    color: #cfcfcf;
    padding-top: 10%;
    padding-bottom: 10%;
}
.intro-content img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
#intro-sidebar h2 {
    color: #cfcfcf;
}
#intro-sidebar .sidebar-nav {
    margin-top: 30px;
}
