---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{site.title}}</title>

    <link rel="shortcut icon" type="image/png" href="{{"assets/images/favicon.ico"|prepend:site.baseurl}}">
    <link rel="stylesheet" href="{{"css/yulunt.css"|prepend:site.baseurl}}">

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" rel="stylesheet" >

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="intro-main" class="fill-height">
      <div class="intro-content">
        <img src="{{"assets/images/me.jpg"|prepend:site.baseurl}}" alt="author thumb">
        <h2 class="animate-drop-init">{{site.author}}</h2>
        <div class="summary animate-drop-init">
          Master student of Software Engineering at Carnegie Mellon <br>
          University with 1+ year experience in IoT development.<br>
          Aim to build impactful products and solve real world challenges.
        </div>
        <div class="menu">
          <a href="{{ site.github }}" class="animate-drop-init">GitHub</a>
          <a href="{{"blog/"|prepend:site.baseurl}}" class="animate-drop-init">Blog</a>
          <a href="{{"project/"|prepend:site.baseurl}}" class="animate-drop-init">Projects</a>
          <a href="{{ site.linkedin }}" class="animate-drop-init">LinkedIn</a>
        </div>
        <div class="footer">
          <span class="footer-text animate-show-init">
            <i class="fa fa-location-arrow"></i>Pittsburgh - United States
          </span>
          <span class="footer-text animate-show-init">
            <i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">yulunt@andrew.cmu.edu</a>
          </span>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script>

    $(document).ready(function () {
      var delay = 1;
      var DELAY_STEP = 200;
      var animationOptions = { opacity: 1, top: 0};

      $('h2').animate(animationOptions).promise()
                .pipe(animateMain)
                .pipe(animateLocationIcon);

      function animateMain() {
        var dfd = $.Deferred();
        var els = $('.animate-drop-init');
        var size = els.size();

        els.each(function (index, el) {
          delay++;
          $(el).delay(index * DELAY_STEP).animate(animationOptions);
          (size - 1 === index) && dfd.resolve();
        });
        return dfd.promise();
      }

      function animateLocationIcon() {
        $('.animate-show-init').delay(delay * DELAY_STEP).animate({opacity: 1,}).promise();
      }
    });
    </script>
    {% if jekyll.environment == 'production' %}
    {% include analytics.html %}
    {% endif %}
  </body>
</html>
