<div id="background-sidebar" class="sidebar">

  <div class="container sidebar-sticky">

    <div class="profile-content">
      <img src="/assets/images/me.jpg" class="img-circle mobile-hide" alt="author thumb">
      <h2 class="">{{ site.author }}</h2>
      <div class="profile-summary">{{ site.description }}</div>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item{% if page.url contains "/blog/" %} nav-not-active{% endif %}" href="/blog/">Blog</a>
      <a class="sidebar-nav-item{% if page.url contains "/experience/" %} nav-not-active{% endif %}" href="/experience/">Experience</a>
      <a class="sidebar-nav-item{% if page.url contains "/project/" %} nav-not-active{% endif %}" href="/project/">Projects</a>
      <a class="sidebar-nav-item{% if page.url contains "/about/" %} nav-not-active{% endif %}" href="/about/">About</a>
    </nav>

    <p>&copy; {{site.time|date:'%Y'}}. All rights reserved.</p>

  </div>

</div>
